@import url("./main.css");

#assetHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  div {
    margin: 10px;
    //margin-bottom: 0px;
  }
  * {
    max-width: 60px;
    max-height: 60px;

    font-size: 60px;
  }
  p {
    width: 120px;

    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
