* {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  /* Hide scrollbars */
}

body {
  background-color: black;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
canvas,
.noAA {
  /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;
  /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast;
  /* Safari                        */
  image-rendering: -o-crisp-edges;
  /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;
  /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE                            */
  image-rendering: optimizeSpeed;
}

.blur{
    //blur the background with a filter
    backdrop-filter: blur(10px);
}

.forumCodeWrapper {
  position: absolute;
  top: 60px;
}

.lint-error {
  font-family: arial;
  font-size: 70%;
  background: rgb(24, 24, 24);
  color: #a00;
  padding: 2px 5px 3px;
}
.lint-error-icon {
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 50%;
  padding: 0 3px;
  margin-right: 7px;
}

.CodeMirror-lint-tooltip {
  background-color: rgb(24, 24, 24);
  color: white;
}

:root {
  --navbarHeight: 40px;
  --background: #080f0f;
  --background-panel: #191c1c;
  --ui: #292929;
  --warning-highlight: #eb5a47;
  --highlight1: #a6b1e1;
  --highlight2: #dcd6f7;
  --text: white;
  //make transparent versions of the above colors
  --background-transparent: rgba(8, 15, 15, 0.5);
  --background-panel-transparent: rgba(25, 28, 28, 0.5);
  --ui-transparent: rgba(41, 41, 41, 0.5);
  --warning-highlight-transparent: rgba(235, 90, 71, 0.5);
  --highlight1-transparent: rgba(166, 177, 225, 0.5);
  --highlight2-transparent: rgba(220, 214, 247, 0.5);
  --text-transparent: rgba(255, 255, 255, 0.5);

}

* {
  font-family: "Ubuntu", sans-serif;
  color: var(--text);
}

.hidden {
  visibility: hidden;
}

body {
  overflow: hidden;
}

button,
.button {
  cursor: pointer;
  border-radius: 3px;
  background-color: var(--ui);
  outline: none;
  border: none;
  padding: 6px;
  color: var(--text);
  font-size: 100%;
}

.orangeText {
  background: linear-gradient(180deg, #ffbe5d 0%, #ff715d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orangeButton {
  background: linear-gradient(180deg, #ffbe5d 0%, #ff715d 100%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bigButton {
  padding: 10px;
}

input[type="text"] {
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--background-panel);
  background-color: var(--background-panel);
  margin-bottom: 12px;
}

/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlight1);
}
