@import url("./main.css");

#navbar {
  top: 0px;
  left: 0px;
  width: 100vw;

  height: var(--navbarHeight);
  background-color: var(--background-panel);
  display: flex;
  justify-content: left;
  align-items: center;
  //For the overflow
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  #navbarContainer {
    width: calc(100% - 60px);

    overflow-y: hidden;
    overflow-x: scroll;
  }
}

.navbarTab {
  color: white;
  width: fit-content;
  padding: 8px;
  margin: 4px;
  display: inline-block;
  background-color: var(--ui);

  cursor: pointer;
  white-space: nowrap;

  p {
    display: inline;
    color: var(--warning-highlight);
    padding: 3px;
  }
  .extraText {
    pointer-events: none;
  }
}
.ButtonToggledOn {
  background-color: var(--highlight1);
}

.cm-s-ayu-mirage {
  height: calc(100vh - var(--navbarHeight));
}
