@import url("./main.css");

#leftPanel {
  background-color: var(--background-panel);
  height: calc(100vh - var(--navbarHeight));
  width: 200px;
  overflow: hidden;
  #controlButtons {
    position: relative;
    top: calc(100vh - var(--navbarHeight) - 26px - 5px);
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    #AddObject {
      width: 90%;
    }
  }

  #ObjectTreeCanvas {
    width: 100%;
    height: 90%;
  }
}

#bottomPanel {
  background-color: var(--background-panel);

  position: absolute;
  bottom: 0px;
  height: 5vh;
  #bottomPanelBar {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1.5em;
    //background-color: red;
    background-color: var(--ui);

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-wrap: nowrap;
    * {
      padding: 3px;
      cursor: pointer;
    }
  }
}

#rightPanel {
  background-color: var(--background-panel);
  height: calc(100vh - var(--navbarHeight));
  top: var(--navbarHeight);
  width: 180px;
  position: absolute;
  right: 0px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.ui-resizable-handle {
  background-color: var(--background);
}

.ui-resizable-handle:hover {
  background-color: var(--ui);
}

//The panel property looks

.property,
#defaultProperties {
  width: 100%;
  background-color: var(--ui);
  padding: 10px;
  input {
    background-color: var(--background);
    color: var(--text);
  }
  input[type="text"] {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
  input[type="number"] {
    width: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
}

#propertyHolder {
  width: 600px;
  height: 100%;

  overflow-y: scroll;
}
