@import url("./main.css");

#popupHolder {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;
  z-index: 4000;
  * {
    pointer-events: all;
    //border-radius: 0.5vw;
  }

  .popup {
    width: fit-content;
    max-width: 300px;
    box-shadow: 0 0 1pt 1pt var(--highlight1);

    .topBarPopup {
      background-color: var(--background);
      width: 100%;
      cursor: move;
      //text-align: center;
      font-size: small;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      p {
        width: max-content;
        text-align: justify;
        padding: 10px;
      }
      .xButton {
        color: var(--warning-highlight);
        cursor: pointer;
      }
    }
    .contentAreaPopup {
      display: flex;
      justify-content: center;
      background-color: var(--background-panel);
      * {
        padding: 10px;
      }
      height: fit-content;
    }
  }
}
