#loadBoxContent {
  //center this div
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  height: 40em;
  z-index: 100000;
  background-color: var(--background);

  //use flex to center the content, and give the 2 inner divs equal heights
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#titleLoadDivContainer {
  //give the title div a fixed height
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  > h2 {
    //give the title div a fixed height

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
}

#closeLoadBox {
  //make this button allign to the right in the flexbox
  align-self: flex-end;
  margin-right: 1em;
}

#uploadFile {
  width: 100%;
  height: 10%;
  border: none;
  background-color: var(--ui);
  color: var(--text);
  font-size: 100%;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

#loadBoxInput {
  //make the file upload look nice
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  display: inline-block;
  width: 90%;
  height: 60%;
  border: none;
  background-color: var(--highlight1);
  color: var(--text);
  font-size: 100%;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

//old saves
#oldSaves {
  //make the list scrollable
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80%;
  width: 100%;
  border-radius: 3px;
  background-color: var(--background-panel);
}

.saveContainer {
  //make everything inside this div stay on the same line
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--ui);
  padding: 3px;

  //on hover, make the background color darker with transistion
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
//make the load button allign to the right in the flexbox
.loadSave {
  align-self: flex-end;
  margin-right: 1em;

  background-color: var(--highlight1);
}
.saveLoaderTitleHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
