#welcomeScreenBackground {
  width: 100vw;
  height: 100vh;

  background: radial-gradient(
      85.43% 58.19% at 50% 100%,
      rgba(8, 148, 208, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0) 5.31%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #0b0e11;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  background-image: url("../../EngineAssets/welcomeBackground.svg");
}

#welcomeScreenPadding {
  position: relative;
  top: 5%;
  //make it centered within its parent div, and make it take up the full width of its parent
  width: calc(100% - 10em);
  height: 90%;

  //allow the text to be on the same line
  display: flex;
  flex-direction: row;
  //justify-content: center;

  //background: rgba(255, 0, 0, 0.5);
}

#welcomeTitle {
  font-size: 5em;
}

#motto {
  font-size: large;
}
#welcomeLogo {
  margin-left: auto;
  max-height: 5em;
}

#welcomeButttons {
  //background-color: aqua;
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 100px;
  width: calc(100% - 10em);
  height: 5%;
}
#welcomeDocsButtonHolder {
  margin-left: auto;
  //disable the unerline on the link
  display: flex;
}

#welcomeDocsButton {
  text-decoration: none;
  //allign bottom
  align-self: flex-end;
  font-size: large;
}

#welcomeVersion {
  position: absolute;
  bottom: 0;
  left: 0;
  align-self: flex-end;
}
