* {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  /* Hide scrollbars */
}

body {
  background-color: black;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
canvas,
.noAA {
  /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;
  /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast;
  /* Safari                        */
  image-rendering: -o-crisp-edges;
  /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;
  /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE                            */
  image-rendering: optimizeSpeed;
}
.forumCodeWrapper {
  position: absolute;
  top: 60px;
}

.lint-error {
  font-family: arial;
  font-size: 70%;
  background: rgb(24, 24, 24);
  color: #a00;
  padding: 2px 5px 3px;
}
.lint-error-icon {
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 50%;
  padding: 0 3px;
  margin-right: 7px;
}

.CodeMirror-lint-tooltip {
  background-color: rgb(24, 24, 24);
  color: white;
}

//Navbar

$background: #080f0f;
$background-panel: #191c1c;
$ui: #292929;
$warning-highlight: #eb5a47;
$highlight1: #a6b1e1;
$highlight2: #dcd6f7;
$text: white;

:root {
  --navbarHeight: 40px;
}

* {
  font-family: "Ubuntu", sans-serif;
  color: $text;
}

.hidden {
  visibility: hidden;
}

body {
  overflow: hidden;
}

button {
  cursor: pointer;
  border-radius: 3px;
  background-color: $ui;
  outline: none;
  border: none;
  padding: 6px;
  color: $text;
  font-size: 100%;
}

/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $highlight1;
}

#navbar {
  top: 0px;
  left: 0px;
  width: 100vw;

  height: var(--navbarHeight);
  background-color: $background-panel;
  display: flex;
  justify-content: left;
  align-items: center;
  //For the overflow
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  #navbarContainer {
    width: calc(100% - 40px);

    overflow-y: hidden;
    overflow-x: scroll;
  }
}

.navbarTab {
  color: white;
  width: fit-content;
  padding: 8px;
  margin: 4px;
  display: inline-block;
  background-color: $ui;

  cursor: pointer;
  white-space: nowrap;

  p {
    display: inline;
    color: $warning-highlight;
    padding: 3px;
  }
}
.ButtonToggledOn {
  background-color: $highlight1;
}

.cm-s-ayu-mirage {
  height: calc(100vh - var(--navbarHeight));
}

//Game Editor Pannels

#leftPanel {
  background-color: $background-panel;
  height: calc(100vh - var(--navbarHeight));
  width: 200px;
  overflow: hidden;
  #controlButtons {
    position: relative;
    top: calc(100vh - var(--navbarHeight) - 26px - 5px);
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    #AddObject {
      width: 90%;
    }
  }

  #ObjectTreeCanvas {
    width: 100%;
    height: 90%;
  }
}

#bottomPanel {
  background-color: $background-panel;

  position: absolute;
  bottom: 0px;
  height: 5vh;
  #bottomPanelBar {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1.5em;
    //background-color: red;
    background-color: $ui;

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-wrap: nowrap;
    * {
      padding: 3px;
      cursor: pointer;
    }
  }
}

.ui-resizable-handle {
  background-color: $background;
}

.ui-resizable-handle:hover {
  background-color: $ui;
}
/*
.ui-resizable-handle {
  width: 10px;
  background-color: $background;
}

.ui-resizable-handle:hover {
  width: 10px;
  background-color: $ui;
}

.ui-resizable-n{

}
*/
.property,
#defaultProperties {
  width: 100%;
  background-color: $ui;
  padding: 10px;
  input {
    background-color: $background;
    color: $text;
  }
  input[type="text"] {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
  input[type="number"] {
    width: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
}

#rightPanel {
  background-color: $background-panel;
  height: calc(100vh - var(--navbarHeight));
  top: var(--navbarHeight);
  width: 180px;
  position: absolute;
  right: 0px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
#propertyHolder {
  width: 600px;
  height: 100%;

  overflow-y: scroll;
}

//Right Click Menu

#ctxmenu {
  position: fixed;
  background: $background-panel;
  color: black;
  cursor: pointer;
  box-shadow: 1px 0px 11px 0px $background;
  border-radius: 5%;
  overflow: hidden;
}

#ctxmenu > p {
  padding: 0 1rem;
  margin: 0;
}

#ctxmenu > p:hover {
  background: black;
  color: ghostwhite;
}

//... menu
#more {
  position: absolute;
  right: 0px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

#dropdownMenu {
  position: absolute;
  top: 40px;
  right: 10px;

  width: 20vw;
  height: 20vh;
  z-index: 5000;
  //padding: 0 1rem;
  border-radius: 0.5vw;
  background-color: $background;
  box-shadow: 0 0 1pt 1pt $highlight1;
  display: flex;
  flex-direction: column;

  button {
    display: inline;
    margin-bottom: 1px;
    margin-top: 1px;

    //padding: 20px;
    width: 100%;
    height: 100%;
    background-color: $background-panel;
    border-radius: 0.5vw;
    text-align: center;
    font-size: 150%;
  }
}

#assetHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  div {
    margin: 10px;
    //margin-bottom: 0px;
  }
  * {
    max-width: 60px;
    max-height: 60px;

    font-size: 60px;
  }
  p {
    width: 120px;

    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
//File Viewer Code
#imageholder {
  width: 90%;
  height: 80vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: $ui;
  overflow: hidden; /*hide bounds of image */

  #imageViewTabImg {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    //top: 50%;
    //left: 50%;
    transform: translate(50%, 50%);
  }
}

//POPUPS!

#popupHolder {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;
  z-index: 4000;
  * {
    pointer-events: all;
    //border-radius: 0.5vw;
  }

  .popup {
    width: fit-content;
    box-shadow: 0 0 1pt 1pt $highlight1;

    .topBarPopup {
      background-color: $background;
      width: 100%;
      cursor: move;
      text-align: center;
      font-size: small;
    }
    .contentAreaPopup {
      display: flex;
      justify-content: center;
      background-color: $background-panel;
      * {
        padding: 10px;
      }
      height: fit-content;
    }
  }
}
