* {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  /* Hide scrollbars */
}

body {
  background-color: black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

canvas,
.noAA {
  /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;
  /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast;
  /* Safari                        */
  image-rendering: -o-crisp-edges;
  /* OS X & Windows Opera (12.02+) */
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE                            */
  image-rendering: optimizeSpeed;
}

.forumCodeWrapper {
  position: absolute;
  top: 60px;
}

.lint-error {
  font-family: arial;
  font-size: 70%;
  background: #181818;
  color: #a00;
  padding: 2px 5px 3px;
}

.lint-error-icon {
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 50%;
  padding: 0 3px;
  margin-right: 7px;
}

.CodeMirror-lint-tooltip {
  background-color: #181818;
  color: white;
}

:root {
  --navbarHeight: 40px;
}

* {
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.hidden {
  visibility: hidden;
}

body {
  overflow: hidden;
}

button {
  cursor: pointer;
  border-radius: 3px;
  background-color: #292929;
  outline: none;
  border: none;
  padding: 6px;
  color: white;
  font-size: 100%;
}

/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a6b1e1;
}

#navbar {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: var(--navbarHeight);
  background-color: #191c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#navbar #navbarContainer {
  width: calc(100% - 40px);
  overflow-y: hidden;
  overflow-x: scroll;
}

.navbarTab {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  margin: 4px;
  display: inline-block;
  background-color: #292929;
  cursor: pointer;
  white-space: nowrap;
}

.navbarTab p {
  display: inline;
  color: #eb5a47;
  padding: 3px;
}

.ButtonToggledOn {
  background-color: #a6b1e1;
}

.cm-s-ayu-mirage {
  height: calc(100vh - var(--navbarHeight));
}

#leftPanel {
  background-color: #191c1c;
  height: calc(100vh - var(--navbarHeight));
  width: 200px;
  overflow: hidden;
}

#leftPanel #controlButtons {
  position: relative;
  top: calc(100vh - var(--navbarHeight) - 26px - 5px);
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#leftPanel #controlButtons #AddObject {
  width: 90%;
}

#leftPanel #ObjectTreeCanvas {
  width: 100%;
  height: 90%;
}

#bottomPanel {
  background-color: #191c1c;
  position: absolute;
  bottom: 0px;
  height: 5vh;
}

#bottomPanel #bottomPanelBar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1.5em;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#bottomPanel #bottomPanelBar * {
  padding: 3px;
  cursor: pointer;
}

.ui-resizable-handle {
  background-color: #080f0f;
}

.ui-resizable-handle:hover {
  background-color: #292929;
}

/*
.ui-resizable-handle {
  width: 10px;
  background-color: $background;
}

.ui-resizable-handle:hover {
  width: 10px;
  background-color: $ui;
}

.ui-resizable-n{

}
*/
.property,
#defaultProperties {
  width: 100%;
  background-color: #292929;
  padding: 10px;
}

.property input,
#defaultProperties input {
  background-color: #080f0f;
  color: white;
}

.property input[type="text"],
#defaultProperties input[type="text"] {
  width: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

.property input[type="number"],
#defaultProperties input[type="number"] {
  width: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#rightPanel {
  background-color: #191c1c;
  height: calc(100vh - var(--navbarHeight));
  top: var(--navbarHeight);
  width: 180px;
  position: absolute;
  right: 0px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#propertyHolder {
  width: 600px;
  height: 100%;
  overflow-y: scroll;
}

#ctxmenu {
  position: fixed;
  background: #191c1c;
  color: black;
  cursor: pointer;
  -webkit-box-shadow: 1px 0px 11px 0px #080f0f;
          box-shadow: 1px 0px 11px 0px #080f0f;
  border-radius: 5%;
  overflow: hidden;
}

#ctxmenu > p {
  padding: 0 1rem;
  margin: 0;
}

#ctxmenu > p:hover {
  background: black;
  color: ghostwhite;
}

#more {
  position: absolute;
  right: 0px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

#dropdownMenu {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 20vw;
  height: 20vh;
  z-index: 5000;
  border-radius: 0.5vw;
  background-color: #080f0f;
  -webkit-box-shadow: 0 0 1pt 1pt #a6b1e1;
          box-shadow: 0 0 1pt 1pt #a6b1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#dropdownMenu button {
  display: inline;
  margin-bottom: 1px;
  margin-top: 1px;
  width: 100%;
  height: 100%;
  background-color: #191c1c;
  border-radius: 0.5vw;
  text-align: center;
  font-size: 150%;
}

#assetHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

#assetHolder div {
  margin: 10px;
}

#assetHolder * {
  max-width: 60px;
  max-height: 60px;
  font-size: 60px;
}

#assetHolder p {
  width: 120px;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#imageholder {
  width: 90%;
  height: 80vh;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  background-color: #292929;
  overflow: hidden;
  /*hide bounds of image */
}

#imageholder #imageViewTabImg {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

#popupHolder {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 4000;
}

#popupHolder * {
  pointer-events: all;
}

#popupHolder .popup {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0 0 1pt 1pt #a6b1e1;
          box-shadow: 0 0 1pt 1pt #a6b1e1;
}

#popupHolder .popup .topBarPopup {
  background-color: #080f0f;
  width: 100%;
  cursor: move;
  text-align: center;
  font-size: small;
}

#popupHolder .popup .contentAreaPopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #191c1c;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#popupHolder .popup .contentAreaPopup * {
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */